{% extends 'base.html.twig' %}

{% block title %}Breweries{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/types">Types</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/beers">Beers</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/breweries">Breweries</a>
      </li>
    </ul>
  </div>
</nav>

  <div align="center"> This is the {{ controller_name }} page !</div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Website</th>
        <th scope="col">Beers</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for elem in breweries %}
      <tr>
        <th scope="row">{{ elem.getId() }}</th>
        <td>{{ elem.getName() }}</td>
        <td>{{ elem.getDescription() }}</td>
        <td>{{ elem.getWebsite() }}</td>
        <td>{%for beer in elem.getBeers() %}
            {{ beer.getName() }} <br />
            {% endfor %}</td>
        <td><a href="/breweries/update_brewery/{{ elem.getId() }}><button type="button" class="btn btn-warning">Update</button></td>
        <td><a href="/breweries/delete_brewery/{{ elem.getId() }}><button type="button" class="btn btn-warning">Delete</button></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <div class="button" align="right">
    <a href="/breweries/add_brewery"><button type="button" class="btn btn-warning">Add a brewery</button></a>
  </div>

  {% endblock %}
